* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

:root {
  --primary: #6979f8;
  --primary-hover: #A5AFFB;
  --second: #BE52F2;
  --second-hover: #DBA5F5;
  --success: #00C48C;
  --success-hover: #7DDFC3;
  --info: #0084F4;
  --info-hover: #66B5F8;
  --warning: #FFA26B;
  --warning-hover: #FFC7A6;
  --danger: #FF647C;
  --danger-hover: #FDAFBB;
}

body {
  height: 100%;
  background: #cad9f3; /* Old browsers */
  background: -moz-linear-gradient(top,  #EAF2FF 0%, #cad9f3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #EAF2FF 0%,#cad9f3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #EAF2FF 0%,#cad9f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad9f3', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.layout {
  max-width: 1440px;
  width: calc(100% - 40px);
  min-width: calc(270px - 40px);
  margin-left: auto;
  margin-right: auto;
}
